@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Fredoka:wght@300;400;500&family=Smooch+Sans:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$borderedButtons: none;
$borderRadius: 5px;
$noTextDecoration: none;
$buttonPadding: 0;
$fredokaFont: "Fredoka", sans-serif;
$crimsonTextFont: "Crimson Text", serif;
$concertOneFont: "Concert One", cursive;
$smoochSans: "Smooch Sans", sans-serif;
$sansSerif: sans-serif;
$wofSomething: "wticons";

$backgroundColor: #1d3557;
html {
  font-size: 10px;
}

.wrapperContainer {
  width: 80vw;
  height: 100vh;
  max-height: 200vh;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 1.5rem;
}

.text-div {
  text-align: center;
}
.text-div > h1 {
  font-size: 6rem;
  font-weight: bolder;
}
.text-div > h5 {
  font-size: 1.6rem;
  word-spacing: 0.1px;
}
#mainSvg {
  //  background-color: pink;
}

#legend {
  //  background-color: pink;
}
.svgDiv {
  display: grid;
  grid-template-rows: 95%;
  place-content: center;
  padding: 1rem;
}

.tooltipDiv {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  text-align: center;
  background-color: black;
  opacity: 0.7;
  color: white;
  padding-top: 5px;
  border-radius: 3px;
  border: 1px solid white;
}

.link {
  float: right;
  font-size: 2rem;
  margin-right: 8rem;
}
